body {
	background-color: #eee;
}

.header {
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: white;
	/*white-space: nowrap;*/
}

.header .top{
	display: inline-block;
	background-color: lightblue;
	margin: auto 5px;
}

.footer {

}

.chanArt {
	height: 200px;
	background-color: lightblue;
	
}

.profile {
	float: right;
}

.profile .image{
	width: 200px;
	height: 200px;

	border: 5px solid white;
	border-radius: 10px;

	background-color: #0099FF;
}

.bar {
	height: 50px;
	/*display: block;*/
	background-color: white;
}

.load {
	margin-top: 10px;
	display: inline-block;
	background-color: white;
}

.tweets {
}

.tweets p {
	display: block;
}