body {
	background-color: #eee;
	font-family: helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 920px;
	display: block;
	margin-bottom: 50px;
	margin-left: 100px;
	float: left;
	overflow-y: visible;

	border: 1px solid black;
}

.header {
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: white;
}

.header .top{
	display: inline-block;
	background-color: #0084B4;
	margin: auto 5px;
}

.footer {
	height: 100px;
	display: block;
	float: bottom;
}

.profile {
	width: 300px;
	height: 200px;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	position: relative;
	left: 10px;
	top: 10px;
}

.chan_art {
	height: 100px;
	background-color: #0084B4;
	border-radius: 5px 5px 0 0;
}

.profile .image {
	width: 60px;
	height: 60px;

	border: 3px solid white;
	border-radius: 10px;
	position: relative;
	float: right;
	top: -30;

	background-color: #0084B4;
}

.profile .image img {
	width: 100%;
}

.tweets_container {
	width: 600px;
	margin-top: 10px;
	float: left;
	background-color: white;
	border: 1px solid lightblue;
	border-radius: 5px;
}

.tweet_input {
	height: 60px;
	background-color: white;
	border-bottom: 1px solid lightblue;
	border-radius: 5px 5px 0 0;
}

.tweet_input input {
	width: 450px;
	height: 20px;
	margin-top: 18px;
	margin-left: 10px;
	font-family: Helvetica;
	font-size: 14px;
}

.publish_tweet {
	width: 100px;
	height: 50px;
	float: right;
	background-color: lightblue;
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
}

.load {
	height: 20px;
	display: inline-block;
	background-color: lightblue;
	/*visibility: hidden;*/
}

.tweets_menu {
	border-bottom: 1px solid lightblue;
}

.tweets {


}

.tweet {
	border-bottom: 1px solid lightgrey;
	padding: 10px;
}

.username {
	margin-left: 50px;
	text-decoration: none;
}

.tweets p {
	margin-left: 50px;
	display: block;
}