body {
	background-color: #eee;
	font-family: helvetica;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 900px;
	display: block;
	margin-bottom: 50px;
	margin-left: 100px;
	float: left;
	overflow-y: visible;

	border: 1px solid black;
}

.header {
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: white;
}

.header .top{
	display: inline-block;
	background-color: #0084B4;
	margin: auto 5px;
}

.footer {
	height: 100px;
	display: block;
	float: bottom;
}

.chan_art {
	height: 175px;
	background-color: #0084B4;

}

.profile {
	/*float: right;*/
	display: inline-block;
	position: relative;
	/*right: 100px;*/
	left: 75px;
	top: -180px;
	z-index: 100;
}

.profile .image{
	width: 200px;
	height: 200px;

	border: 5px solid white;
	border-radius: 10px;

	background-color: #0084B4;
}

.bar {
	height: 60px;
	/*display: block;*/
	background-color: white;
}

.load {
	margin-top: 10px;
	display: inline-block;
	background-color: white;
}

.tweets_container {
	width: 600px;
	margin-top: 10px;
	float: left;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.tweets_menu {
	border-bottom: 1px solid lightgrey;
}

.tweets {


}

.tweet {
	border-bottom: 1px solid lightgrey;
}

.tweets p {
	/*margin: 20px 20px;*/
	padding: 5px;
	display: block;
}